body {
  background-color: white;
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.gridDiv {
  background-color: black;
  height: 3px;
  width: 3px;
  padding: 2em;
  border: solid purple;
  transition: background-color 0.3s;
}

.game {
  display: flex;
  height: 50%;
  width: 50%;
  flex-wrap: wrap;
  flex-direction: row;
}

.gridDiv.hovered {
  background-color: aqua;
}
