body {
  background-color: white;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.gridDiv {
  background-color: black;
  border: 1px solid purple;
  box-sizing: border-box;
  flex-basis: calc(100% / var(--columns));
  padding-top: calc(100% / var(--columns));
  transition: background-color 0.3s;
}

.game {
  display: flex;
  flex-wrap: wrap;
}

.gridDiv.hovered {
  background-color: aqua;
}
