body {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  background-color: rgb(59, 59, 59);
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  color: white;
}
.gridDiv {
  background-color: black;

  box-sizing: border-box;
  flex-basis: calc(100% / var(--columns));
  padding-top: calc(100% / var(--columns));
  transition: background-color 0.3s;
}

.game {
  display: flex;
  flex-wrap: wrap;
}

.gridDiv.hovered {
  background-color: magenta;
}
p {
  display: flex;
  justify-content: center;
  align-items: start;
}
.title {
  font-size: 50px;
}

button {
  text-decoration: none;
  border-radius: 0.4em;
  display: flex;
  justify-content: center;
  width: 100px;

  margin-bottom: 1px;
}

.bigDiv {
  display: flex;
  flex-direction: column;
  max-width: 600px;
}

#createGridButton {
  margin-top: 5px;
}

.forms {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
